################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StudentsUseCase7/.vs/StudentsUseCase7
/StudentsUseCase7/StudentsUseCase7Tests/obj
/StudentsUseCase7/StudentsUseCase7/obj
/StudentsUseCase7/StudentsUseCase7/bin/Debug/net6.0
/StudentsUseCase7/StudentsUseCase7Tests/bin/Debug/net6.0
